{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" 
        crossorigin="anonymous">
</script>	
	{% block extras %}
	{% endblock %}
    <title>Programowanie zwinne - projekt</title>
  </head>
  <body>
	<div class="container">
        <h1 class="mt-2"> <a href="{% url 'home' %}" style="text-decoration: none; color: black;">Programowanie zwinne - projekt</a> </h1>
		<nav class="navbar navbar-expand-lg">
			<div id="navbarNavDropdown" class="navbar-collapse collapse nav-tabs">
				<ul class="navbar-nav mr-auto">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'strona:packagelist' %}">Display packages</a>
					</li>
					{% endif %}
					{% if user.is_superuser %}
					<li class="nav-item">
							<a class="nav-link" href="{% url 'strona:packageadd' %}">Add package</a>
					</li>
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#"id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								History
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="">Changes on current packages</a>
								<a class="dropdown-item" href="{% url 'strona:removedpackage' %}">Removed packages</a>
							</div>
					</li>
					{% endif %}
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'strona:packagelist' %}">Delivered packages</a>
					</li>
					{% endif %}					
				</ul>
				<ul class="navbar-nav">
				{% if user.is_superuser %}
					<li class="nav-item">
						<a class="nav-link" href="/admin">Django Administrator Panel</a>
					</li>
				{% endif %}
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>			
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login</a>
					</li>
				{% endif %}
				</ul>
			</div>
		</nav>
    </div>
	<br>
	{% block content %}
	{% endblock %}
  </body>
</html>